* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Jacques Francois', sans-serif;

}


body {
    font-family: 'Jacques Francois', sans-serif;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #3E217B 14.58%, #E28C6C 100%);
    color: #D9744F;
    min-height: 100vh;


                      
}

header {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px ;
}

#autoType{
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 20px;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    background: #f1f1f1f1;
    width: 75%;
    margin-left: 13%;
    display: inline-block;
    background-color: #C9B9ED;
    color: #3E217B;
    border-radius: 6px;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
    font-size: 20px;
  
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(121, 87, 133, 0.8);
   
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
    text-align: center;
    padding: 8px;
    background: #F6A587;
    width: 75%;
    margin-left: 13%;
    border-radius: 6px;
    margin-bottom: 150px;
  }

  img {
    border-radius: 50%;
    margin-left: 43%;
    margin-bottom: 20px;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: #717171;
  }
  
